# ============================
# Django (Required)
# ============================

SECRET_KEY=
DEBUG=True

# ============================
# Database (Required)
# ============================

DB_ENGINE=django.contrib.gis.db.backends.postgis
DB_NAME=
DB_USER=postgres
DB_PASSWORD=
DB_HOST=localhost
DB_PORT=5432

# ============================
# GeoDjango (Required)
# ============================
GDAL_LIBRARY_PATH=
GEOS_LIBRARY_PATH=


# ============================
# Application URLs (Required)
# ============================

# Backend
BACKEND_URL=http://localhost:8000

# Frontend
WEB_APP_URL=http://localhost:5173
MOBILE_SCHEME=com.sugbogo.app://

# Email verification and password reset URLs
EMAIL_VERIFICATION_URL=http://localhost:8000/api/auth/verify-email/
PASSWORD_RESET_URL=http://localhost:8000/api/auth/reset-password/


# ============================
# Services (Optional for Local Development)
# ============================

RESEND_API_KEY=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# ============================
# OAuth (Required if Testing OAuth)
# ============================

GOOGLE_OAUTH_CLIENT_ID=

FACEBOOK_APP_ID=
FACEBOOK_APP_SECRET=