# Django
SECRET_KEY=
DEBUG=True

# Database (PostgreSQL)
DB_NAME=
DB_USER=postgres
DB_PASSWORD=
DB_HOST=localhost
DB_PORT=5432

# Application URLs
BACKEND_URL=http://localhost:8000

# Email Verification
EMAIL_VERIFICATION_URL=http://localhost:8000/api/auth/verify-email/

# Reset Password
PASSWORD_RESET_URL=http://localhost:8000/api/auth/reset-password/

# Resend Email Service
RESEND_API_KEY=

# Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# OAUTH
GOOGLE_OAUTH_CLIENT_ID=

FACEBOOK_APP_ID=
FACEBOOK_APP_SECRET=