@import "tailwindcss";

@theme {
  --color-primary: #F27F0D;

  --color-background-primary: #FDFDFD;      /* white */
  --color-background-secondary: #F8FAFC80;  /* slate-50 with 80% opacity */


  /* Stroke Borders */
  --color-stroke: #E5E7EB;           /* gray-200 */
  --color-stroke-strong: #D1D5DB;    /* gray-300 */

  /* Text Colors */
  --color-text-primary: #0F172A;     /* slate-800 */
  --color-text-secondary: #94a3b8;   /* slate-400 */

  --color-sidebar-hover: #E5E7EB;
  --color-action-icon-background: #FFF7ED;
}

/* Dark Theme */
html.dark {
  --color-background-primary: #1f1f1f; 
  --color-background-secondary: #121212;

  --color-stroke: #121418;
  --color-stroke-strong: #475569;

  --color-text-primary: #F8FAFC;
  --color-text-secondary: #CBD5E1;

  --color-sidebar-hover: #2A2A2A;
  --color-action-icon-background: #2A2A2A;
}

